body {
  font-family: sans-serif;
  background-color:#336699;
  color: #ffffff;
  max-width: 60rem;
  padding: 0 5%;
  margin: 0 auto;
}

h1 {
  font-family: "Verdana", sans-serif;
  text-align: center;
  font-size: 2.5em;

}

ol {
  font-family: "Helvetica", sans-serif;
  line-height: 2.5;
  font-size: 1em;
    padding: 2em;

}

 img {
  margin-left: auto;
  margin-right: auto;
  padding: 5.5em;

}

p.intro {
  text-align: center;
  font-size: 1.5em;
  line-height: 2;
  padding: 1.5em;
  margin: 2em; 
}

a {
  color: #00f;
}

a:hover,
a:focus {
  background-color: #000;
}

button {
  position: fixed; 
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}
