body {
  font-family: sans-serif;
  background-color:#000066;
  color: #ffffff;
  max-width: 48rem;
  padding: 0 5%;
  margin: 0 auto;
}

h1 {
    text-align: center;
  font-family: "Georgia";
}

p {
  font-family: "Helvetica", sans-serif;
  line-height: 1.5;
}

p.intro {
  font-size:1.5em;
    line-height: 1.25;
    padding:1em;
    border: 0.1em solid #fffff; 
  margin: 1em; 
}
